h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: rgb(148, 195, 128);
}

.boxed {
    padding: 25px;
    margin: 25px;
}

ul {
    list-style-type: none;

}

.input {
    border: 1px solid green;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }  



  wrapper {

  }